/.git/
/.idea/
/environment/ssl/

/application/.env
/application/tests/
/application/vendor/
/application/node_modules/

/application/phpunit.*
/application/.DS_Store
/application/.gitignore
/application/server.php
/application/*/.DS_Store
/application/.styleci.yml
/application/phpstan.neon
/application/.editorconfig
/application/.gitattributes
/application/storage/logs/*.log
/application/bootstrap/cache/*.php
/application/.phpunit.result.cache
/application/storage/framework/views/*.php
/application/storage/framework/sessions/*/
/application/storage/framework/cache/data/*/
