services:
  php:
    build:
      context: ./docker/php
    image: laravel-sandbox/php:dev
    container_name: laravel-sandbox.php
    environment:
      PHP_IDE_CONFIG: serverName=laravel-sandbox
    volumes:
      - ./app:/var/www:cached
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx:
    image: nginx:alpine
    container_name: laravel-sandbox.nginx
    ports:
      - "80:80"
    volumes:
      - ./app:/var/www
      - ./docker/nginx/app.conf:/etc/nginx/conf.d/app.conf
